.end_body {
    flex-direction: column;
    display: -webkit-box; /*这个必须要有*/
}

.end_left {
    -webkit-box-flex: 1;
    border: 0.5px solid #D4D4D5;
    background: #F3F3F3;
    padding: 10px;
}

.end_right {
    -webkit-box-flex: 25;
    background: white;
}

.end_item {
    padding: 5px;
    cursor: pointer;
    border-bottom: 0.2px solid #D4D4D5;
    text-align: center;
}

#end_problemset, #end_course, #end_contest, #end_user .end_subitem {
    font-size: 12px;
    padding: 2px;
    border-bottom: 0.2px solid #D4D4D5;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
}

.end_problem_add, .end_problem_select{
    width: 90%;
    height: 40px;
    margin: 0 0 20px 5%;
    padding: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.end_problem_add_ll{
    width: 200px;
    flex-direction: column;
    display: -webkit-box; /*这个必须要有*/
}

.end_problem_add_btn {
    margin-left: 10px;
    -webkit-box-flex: 1;
    width: 115px;
    height: 36px;
    background: #FFB752;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
}

.end_problem_addframe {
    background-color: white;
    position: absolute;
    width: 800px;
    height: 100%;
    top: 0;
    border: 1px solid #F3F3F3;
    margin-left: 10%;
    text-align: center;
    z-index: 1001;
}

.end_problem_addclose {
    width: 60px;
    height: 100%;
}

.end_problem_addframe #end_problem_addspan input[type="text"], .end_problem_addframe #end_problem_addspan select {
    margin-top: 20px;
    padding: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 156px;
    height: 28px;
    font-size: 12px;
}
.end_problem_addframe #end_contest_addspan input[type="text"], .end_problem_addframe #end_contest_addspan select {
    margin-top: 20px;
    padding: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 156px;
    height: 28px;
    font-size: 12px;
}

.end_problem_add_sub {
    background: #4898d5;
    width: 60px;
    height: 30px;
    border-radius: 4px;
    padding-top: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 70%;
}

.end_operateframe{
    margin-left: 5px;
}

.end_operateframe input[type="text"], .end_operateframe select {
    outline: none;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 156px;
    height: 28px;
}

.end_pro_table {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0, 0, 0, .87);
    display: table;
    box-sizing: inherit;
    font-size: 16px;
    border-collapse: separate;
    border-spacing: 0;
    border-collapse: collapse;
}

.end_pro_table thead, tbody tr {
    text-align: center;
}

.end_pro_table thead, tbody tr:nth-child(even) {
    background: #F9F9F9;
}

.end_pro_table thead, tbody tr th, td {
    line-height: 40px;
    padding: 8px;
}
.end_pro_table tbody tr th, td {
    line-height: 40px;
    padding: 8px;
    font-weight: normal;
    font-size: 15px;
}

.pro_btn {
    width: 38px;
    height: 24px;
    padding: 3px 10px;

}

.pro_btn img {
    width: 15px;
    height: 15px;
}

.pro_btn_editor {
    background: #6fb3e0;
}

.pro_btn_delete {
    background: #ffb752;
}

.end_problem_edit input[type="text"], .end_problem_edit input[type="type"] {
    padding-top: 20px;
    margin-top: 20px;
}