*{
    padding: 0;
    margin: 0;
}
.ui
{
    height: 45px;
    background: #333;
    flex-direction: column;
    display: -webkit-box; /*这个必须要有*/
}
.ui-left{
    -webkit-box-flex:20;
}
.ui-right{
    margin-top: 8px;
    color: white;
}
a.item{
    margin-top: 2px;
    font-size: 15px;
    padding: .92857143em 1.14285714em;
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid gray;
}
a.loginitem{
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    padding-left: .52857143em;
    padding-right: .92857143em;
}
.sub_login{
    display: none;
    list-style: none;
    background-color: black;
    z-index: 1001;
}
.sub_login li{

}
.sub_login li a{
    cursor: pointer;
    background-color: black;
    margin: 8px;
    text-decoration: none;
}
.sub_login li a:hover{
    background: deepskyblue;
}
