.one_fenqu{
    display: -webkit-box; /*这个必须要有*/
    -webkit-box-orient: horizontal;
}
.fenqu{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: Apple LiSung Light;
}
.format{
    margin: 5px;
}
.domain_1{
    width: 20%;
    background: rgba(0, 0, 50, .02);
    font-weight: lighter;
    border-radius: 5px;
    height: 900px;
}
.domain_2{
    width: 55%;
}
.domain_3{
    width: 25%;
}
.domain_3 .code_upload input[type=file], input[type=button]{
    outline: none;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 156px;
    height: 28px;
    margin-top: 10%;
    background-color: lightseagreen;
    color: white;
}
.domain_3 .file_upload input[type=file]{

}
.error_input{
    border: 1px solid #D4D4D5;
    position: absolute;
    left: 25%;
    top: 850px;
    width: 70%;
    height: 200px;
    color: red;
}
