.message_marquee {
    width: 100%;
    height: 34px;
    border-radius: 5px;
    background: #EEEEEE;
    font-size: 15px;
    margin: 10px 0 0 0;
    color: red;
}

.user_des p {
    margin-left: 30%;
}

.user_des p input[type="text"], button {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border-radius: 5px;
    width: 60px;
    height: 34px;
    border: 0.5 solid #D4D4D5;
}

.user_from-group {
    margin-left: 30%;
    padding: 7px 15px 10px 10px;
    margin-bottom: 10px;
}

.user_from-group label {
    font-size: 14px;
    font-weight: bold;
}

.user_from-group span {
    margin-left: 4%;
}

.user_from-group span input[type="text"], input[type="password"] {
    position: absolute;
    left: 45%;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    width: 290px;
    height: 30px;
    border-radius: 5px;
    border: 0.5px solid #D4D4D5;
}

.user_from-group input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 125px;
    height: 34px;
    border-radius: 5px;
    background: #D4D4D5;
}

.user_from-submit {
    margin-left: 42%;
}

.person_tableInfo {
    width: 40%;
    background: #FFF;
    margin: 1em 0;
    border-top: 1px solid rgba(34, 36, 38, .15);
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    text-align: left;
    color: rgba(0, 0, 0, .87);
    display: table;
    box-sizing: inherit;
    font-size: 14px;
    font-weight: bold;
    border-collapse: separate;
    border-spacing: 0;
    margin-left: 2%;
}

.person_tableInfo thead tr {
    height: 37px;
    width: 30px;
    background: rgba(0, 0, 50, .02);
}

.person_tableInfo tbody tr {
    height: 37px;
}

.person_tableInfo tbody tr:nth-child(even) {
    background: rgba(0, 0, 50, .02);
}
.daanstate{
    width: 60%;
    height: 34px;
    text-align: center;
    margin: auto;
    border-radius: 3px;
}
.editor{
    text-decoration: none;
    color: #2D93CA;
}